<!DOCTYPE html>
<html>
<head>
  <title>Compile.js Build Tool</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
  <link rel="stylesheet" href="./index.css">
  <style type="text/css">[ng-cloak] { display: none; }</style>
</head>
<body>

  <div class="app" ng-cloak ng-app="compilejs-builder">
    <div class="clear">
      <div class="left">
        <h2>Compile.js Build Tool</h2>
      </div>
      <div class="right" ng-controller="ConfigController">
        <select class="presets"
                ng-options="p.name for p in presets"
                ng-model="preset"
                ng-change="updatedPreset()">
          <option value="">Choose Preset</option>
        </select>
        <button type="button" class="pure-button"
                ng-click="export()">Export</button>
        <button type="button" class="pure-button"
                ng-click="showImport = !showImport">Import</button>

        <div class="importer" ng-show="showImport">
          <div><textarea ng-model="importData"></textarea></div>
          <div>
          <button type="button" class="pure-button"
                ng-click="import()">Import</button>
          <button type="button" class="pure-button"
                ng-click="showImport = false">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <form class="pure-form">
      <fieldset>

        <legend >Compile your custom Compile.js</legend>

        <div class="no-steps"
             ng-show="fields.length == 0">
          You have no compile steps yet. Click "Add Step" below.
        </div>

        <div class="field box clear"
             ng-repeat="field in fields"
             ng-class="field.disabled && 'disabled'">
          <div class="left">
            <select ng-options="m.name for m in methods"
                    ng-model="field.method"
                    ng-change="update()"></select>

            <span ng-repeat="input in field.method.inputs">
              <textarea ng-class="input.type"
                        ng-model="field.args[$index]"
                        ng-change="update()"></textarea>
              <input ng-class="input.type"
                     ng-model="field.args[$index]"
                     ng-change="update()"/>
            </span>
          </div>
          <div class="right">
            <button type="button" class="pure-button"
                    ng-click="field.disabled = !field.disabled; update();"
                    ng-bind="field.disabled && 'Enable' || 'Disable'"></button>
            <button type="button" class="pure-button"
                    ng-click="del($index)">Delete</button>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="code box" ng-show="codeShown">
      <pre ng-bind="code"></pre>

    </div>

    <div class="controls">
      <button type="button" class="pure-button"
              ng-click="addField()">Add Step</button>
      <button type="button" class="pure-button"
              ng-click="toggleCode()"
              ng-bind="(codeShown && 'Hide' || 'View') + ' Code'"></button>
      <button type="button" class="pure-button pure-button-success"
              ng-click="run()">Run</button>
    </div>

  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
  <script src="http://www.jacklmoore.com/js/jquery.autosize.js"></script>
  <script src="../dist/compile.js"></script>
  <script src="../dist/tasks/compile.uglify.js"></script>
  <script src="../dist/tasks/compile.coffee-script.js"></script>
  <script src="./index.js"></script>

</body>
</html>