body, html {
  width: 100%;
}

.app {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
}

.app .field {
  clear: both;
}

.app .box {
  background: #EEE;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.app .disabled {
  background: #CCC;
}

/* field container */

.app .field .rights {
  float: right;
}
.app .field .lefts {
  float: left;
}
.app .field .rights button {
  font-size: 70%;
}


/* field inputs */

.app .disabled textarea,
.app .disabled input {
  color: #CCC;
}

.app .field select {
  height: 30px;
}

.app .field textarea,
.app .field input {
  width: 150px;
  border-color: #DDD;
  border-radius: 5px;
  height: 30px;
  line-height: 25px;
  font-size: 12px
}

.app .field textarea.json,
.app .field textarea.fn {
  /*height: 90px;*/
  font-family: Courier
}

.app .field input.short {
  width: 70px;
}

.app .field input.json,
.app .field input.fn,
.app .field textarea.short,
.app .field textarea.medium {
  display: none;
}


/* code container */
.code {
  padding: 0px 50px;
}
/* bottom control buttons*/

.controls {
  text-align: center;
}

.controls button {
  margin-right: 10px
}

/* extra */
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden
}
.clear {
  zoom:1
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
  background: rgb(76, 201, 71); /* this is a green */
}